<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:lang="http://www.springframework.org/schema/lang"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-4.3.xsd">

<!-- Target Class spring bean Configuration -->
<bean id="sStore" class="com.nt.service.ShoppingStore"/> 

<!-- Advice class Spring bean Configuration -->
<bean id="cGrapher" class="com.nt.advice.CommonExceptionLogger"/>


<!-- Aop Configuration -->
<aop:config>  
<aop:pointcut expression="execution (double com.nt.service.ShoppingStore.calShopping(..))" id="ptc"/>
<aop:aspect ref="cGrapher">
<aop:after-throwing method="exceptionLogger" pointcut-ref="ptc" throwing="iae"/>

</aop:aspect>

</aop:config>

</beans>
