<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

	<!-- Target Class bean Configuartion -->
	<bean id="onlineStore" class="com.nt.service.OnlineStore" />


	<!-- Advice Class bean Configuration -->
	<bean id="discount" class="com.nt.advice.DiscountCouponAdvice" />

	<!-- <aop:config>
		<aop:aspect ref="discount">
		<aop:pointcut expression="execution (double com.nt.service.OnlineStore.shopping(..)execution (double com.nt.service.OnlineStore.shopping(..)))" id="ptc"/>
			<aop:after-returning method="genrateCouponCode"
				pointcut-ref="ptc"
				returning="billAmount" />
		</aop:aspect>
	</aop:config> -->
	
	<aop:config>
	<aop:aspect ref="discount">
	<!--  <aop:pointcut expression="execution (double com.nt.service.OnlineStore.shopping(..)) and args(items,prices)" id="ptc"/>-->
	<aop:after-returning method="genrateCouponCode" pointcut="execution (double com.nt.service.OnlineStore.shopping(..)) and args(items,prices)" returning="billAmount"/>
	</aop:aspect>
	
	</aop:config>
	

</beans>
